<link rel='stylesheet' href='/stylesheets/foulsearch.css' />
<script src='./javascripts/foulsearch.js'></script>
<form class="form-horizontal" action="api/fouls" method="get" id="newgame">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="usersearch">Search by official</label>
      <div class="col-sm-2">
        <select class="form-control" id="usersearch" name="usersearch:skip">
          <option value=""></option>
        </select>
      </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2">
      <button type="button" class="btn btn-success" id="foulsearch">Search for fouls</button>
    </div>
  </div>
</form>
<br />
<br />
<table class="table table-striped" id="foultable">
  <thead>
    <tr>
      <th>Game</th>
      <th>Quarter</th>
      <th>Time</th>
      <th>Team</th>
      <th>Foul</th>
      <th>O/D/R/K</th>
      <th>Player</th>
      <th>A/D/O</th>
      <th>Officials</th>
      <th>Comment</th>
      <th>Evaluator Comment</th>
      <th>Supervisor Comment</th>
      <th>Grade</th>
    </tr>
  </thead>
  <tbody id="foulelement">
  </tbody>
</table>