<form action="api/fouls" method="post">
  <div class="form-group">
    <label for="quarter">Quarter</label>
    <input type="text" class="form-control" id="quarter" name="quarter" placeholder="Quarter">
  </div>
  <div class="form-group">
    <label for="time">Time</label>
    <input type="text" class="form-control" id="time" name="time" placeholder="Time">
  </div>
  <div class="form-group">
    <label for="homeTeam">Fouling team</label>
    <input type="text" class="form-control" id="team" name="homeTeam" placeholder="Team">
  </div>
  <div class="form-group">
    <label for="foul">Foul</label>
    <input type="text" class="form-control" id="foul" name="foul" placeholder="Foul">
  </div>
  <div class="form-group">
    <label for="odrk">O/D/R/K</label>
    <input type="text" class="form-control" id="odrk" name="odrk" placeholder="Offense, Defense, Receivers, Kickers">
  </div>
  <div class="form-group">
    <label for="player">Player #</label>
    <input type="text" class="form-control" id="player" name="player" placeholder="Player">
  </div>
  <div class="form-group">
    <label for="ado">Quarter</label>
    <input type="text" class="form-control" id="ado" name="ado" placeholder="Accepted, Declined, Offset">
  </div>
  <div class="form-group">
    <label for="officials">Officials</label>
    <input type="text" class="form-control" id="officials" name="officials" placeholder="Officials">
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <input type="text" class="form-control" id="comment" name="comment" placeholder="Comment">
  </div>
  <div class="form-group">
    <label for="evaluatorComment">Evaluator Comment</label>
    <input type="text" class="form-control" id="evaluatorComment" name="evaluatorCOmment" placeholder="Evaluator Comment">
  </div>
  <div class="form-group">
    <label for="quarter">Supervisor Comment</label>
    <input type="text" class="form-control" id="supervisorComment" name="supervisorComment" placeholder="Supervisor Comment">
  </div>
  <button type="submit" class="btn btn-success">Enter foul</button>
</form>