<script src='./javascripts/foulcodes.js'></script>
<form class="form-horizontal" id="newfoulcode">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="foulcode">Foul code info</label>
    <div class="col-sm-2">
        <input type="text" class="form-control" id="foulcode" name="foulcode" placeholder="Foul Code">
    </div>
    <div class="col-sm-2">
        <input type="text" class="form-control" id="foulname" name="foulname" placeholder="Foul name">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-success" id="postfoulcode">Enter new foul</button>
    </div>
  </div>
</form>