<form class="form-horizontal" action="api/games" method="post">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="date">Date</label>
    <div class="col-sm-2">
        <input type="text" class="form-control" id="date" name="date" placeholder="Date">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="foul">Home</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="home" name="home" placeholder="Home">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="hScore" name="hScore" placeholder="Score">
    </div>
    <label class="col-sm-1 control-label" for="visitor">Visitor</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="visitor" name="visitor" placeholder="Visitor">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="vScore" name="vScore" placeholder="Score">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="nOvertimes">Overtimes</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="nOvertimes" name="nOvertimes" placeholder="# of Overtimes">
    </div>
    <label class="col-sm-2 control-label" for="totalTime">Total game time</label>
    <div class="col-sm-2">
        <input type="text" class="form-control" id="totalTime" name="totalTime" placeholder="Total game time">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="officials">Television</label>
    <div class="col-sm-2">
      <label class="checkbox-inline">
        <input type="checkbox" id="television" name="television" value="true"> 
      </label>
    </div>
    <label class="col-sm-2 control-label" for="conference">Conference</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="conference" name="conference" placeholder="Conference">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="officials">Officials</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="officials" name="officials" placeholder="Officials">
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-success">Enter game</button>
    </div>
  </div>
</form>