<script src='./javascripts/gameinput.js'></script>
<form class="form-horizontal" action="api/games" method="post" id="newgame">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="date">Date</label>
    <div class="col-sm-2">
        <input type="text" class="form-control" id="date" name="date" placeholder="Date">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="foul">Home</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="home" name="home" placeholder="Home">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="hScore" name="hScore" placeholder="Score">
    </div>
    <label class="col-sm-1 control-label" for="visitor">Visitor</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="visitor" name="visitor" placeholder="Visitor">
    </div>
    <div class="col-sm-1">
      <input type="text" class="form-control" id="vScore" name="vScore" placeholder="Score">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="nOvertimes">Overtimes</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="nOvertimes" name="nOvertimes" placeholder="# of Overtimes">
    </div>
    <label class="col-sm-2 control-label" for="totalTime">Total game time</label>
    <div class="col-sm-2">
        <input type="text" class="form-control" id="totalTime" name="totalTime" placeholder="Total game time">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="officials">Television</label>
    <div class="col-sm-2">
      <label class="checkbox-inline">
        <input type="checkbox" id="television" name="television" value="true"> 
      </label>
    </div>
    <label class="col-sm-2 control-label" for="conference">Conference</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="conference" name="conference" placeholder="Conference">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="referee">Referee</label>
      <div class="col-sm-2">
        <select class="form-control" id="referee" name="referee:skip">
          <option value=""></option>
        </select>
      </div>
    <label class="col-sm-2 control-label" for="umpire">Umpire</label>
      <div class="col-sm-2">
        <select class="form-control" id="umpire" name="umpire:skip">
          <option value=""></option>
        </select>
      </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="headlines">Head Linesman</label>
      <div class="col-sm-2">
        <select class="form-control" id="headlines" name="headlines:skip">
          <option value=""></option>
        </select>
      </div>
    <label class="col-sm-2 control-label" for="linejudge">Line Judge</label>
      <div class="col-sm-2">
        <select class="form-control" id="linejudge" name="linejudge:skip">
          <option value=""></option>
        </select>
      </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="fieldjudge">Field Judge</label>
      <div class="col-sm-2">
        <select class="form-control" id="fieldjudge" name="fieldjudge:skip">
          <option value=""></option>
        </select>
      </div>
    <label class="col-sm-2 control-label" for="sidejudge">Side Judge</label>
      <div class="col-sm-2">
        <select class="form-control" id="sidejudge" name="sidejudge:skip">
          <option value=""></option>
        </select>
      </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="backjudge">Back Judge</label>
      <div class="col-sm-2">
        <select class="form-control" id="backjudge" name="backjudge:skip">
          <option value=""></option>
        </select>
      </div>
    <label class="col-sm-2 control-label" for="observer">Observer</label>
      <div class="col-sm-2">
        <select class="form-control" id="observer" name="observer:skip">
          <option value=""></option>
        </select>
      </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-success" id="postgame">Enter game</button>
    </div>
  </div>
</form>