<script src='./javascripts/grades.js'></script>
<form class="form-horizontal" id="newgrade">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="abbreviation">Grade info</label>
    <div class="col-sm-2">
        <input type="text" class="form-control" id="abbreviation" name="abbreviation" placeholder="Abbreviation">
    </div>
    <div class="col-sm-2">
        <input type="text" class="form-control" id="gradeType" name="gradeType" placeholder="Grade name">
    </div>
    <div class="col-sm-2">
        <input type="text" class="form-control" id="points" name="points" placeholder="Points">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-success" id="postgrade">Enter new grade</button>
    </div>
  </div>
</form>