<script src='./javascripts/teaminput.js'></script>
<form class="form-horizontal" id="newteam">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="newteam">Team info</label>
    <div class="col-sm-2">
        <input type="text" class="form-control" id="school" name="school" placeholder="School">
    </div>
    <div class="col-sm-2">
        <input type="text" class="form-control" id="mascot" name="mascot" placeholder="Mascot">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="teamlocation">Location</label>
    <div class="col-sm-2">
        <input type="text" class="form-control" id="lat" name="lat" placeholder="Latitude">
    </div>
    <div class="col-sm-2">
        <input type="text" class="form-control" id="lon" name="lon" placeholder="Longitude">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-success" id="postnewteam">Enter new team</button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
      <label id="result-message"></label>
    </div>
  </div>
</form>